.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
}

.modal__image_type_landscape {
  border-radius: 10px;
}

.modal__image_type_portrait {
  border-radius: 24px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
}

.modal__container_type_add {
  padding-bottom: 46px;
  padding-top: 33px;
}

.modal__container_type_preview {
  padding: 0;
  max-height: fit-content;
  max-width: fit-content;
  background-color: transparent;
}

.modal__caption {
  background-color: #212121;
  color: #fff;
  margin: 8px 0 0;
  max-width: fit-content;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 1.2;
  font-weight: 500;
  padding: 4px 8px;
}

.modal__title {
  color: #212121;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
}

.modal__input:focus {
  outline: none;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 60);
}

.modal__input_type_error:focus {
  border: 1px solid rgba(255, 0, 0, 60);
}

.modal__submit-button {
  width: 156px;
  padding: 18px 58px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.modal__submit-button:hover {
  opacity: 80%;
}

.modal__submit-button_disabled {
  opacity: 0.5;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  border: none;
  padding: 0;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.modal__close-button_type_preview {
  top: 4.49px;
  left: calc(100% + 12.5px);
  background-image: url(../images/close-icon-white.svg);
  opacity: 1;
  height: 23px;
  width: 23px;
}

.modal__close-button_type_preview:hover {
  background-image: url(../images/close-icon-grey.svg);
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__error {
  color: rgba(255, 0, 0, 70);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  display: none;
}

input:invalid ~ .modal__error {
  display: inline-block;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__submit-button {
    width: 100%;
    padding: 18px 118px;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-button_type_preview {
    left: calc(100% - 30px);
    top: -30px;
  }

  .modal__container_type_preview {
    padding: 0;
  }

  .modal__image {
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 330px) {
  .modal__container_type_preview {
    width: 288px;
  }
  .modal__image {
    max-width: none;
    width: 288px;
  }
}
