.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border: none;
  cursor: pointer;
  padding: 0;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
  background: transparent;
}

.profile__pencil-icon {
  margin-bottom: 12px;
}

.profile__avatar-button:after {
  content: "Edit avatar";
  color: #fff;
  margin-left: 8px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  color: #212121;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  opacity: 70%;
  background-color: transparent;
  border: none;
  width: 107.34px;
  height: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__new-button {
  margin-left: auto;
  margin-top: auto;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  padding: 0;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__new-button:hover {
  opacity: 80%;
}

.profile__button-image {
  margin-right: 8px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    padding: 20px 0 0;
  }

  .profile__column {
    text-align: center;
    align-items: center;
  }

  .profile__avatar-container {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__pencil-icon {
    background: rgba(33, 33, 33, 0.6) center no-repeat;
    border-radius: 6px;
    height: 23px;
    width: 23px;
    margin-bottom: 4.6px;
  }

  .profile__avatar-button {
    visibility: visible;
    background: transparent;
    height: 23px;
    width: 23px;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
  }

  .profile__avatar-button:after {
    content: "";
  }

  .profile__avatar {
    height: 100%;
    width: 100%;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__new-button {
    margin: 20px 0 20px;
    width: 100%;
  }
}
